body {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #fff;
    height: 200vh;
    position: relative; }
 .site-navbar-top {
     position: absolute;
     left: 0%;
     right: 0%;
     width: 1907px;
     height: 40px;
     background: #27AE60;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
    }
    .col-6 {
        flex: 0 0 auto;
        width: 50%;
        margin-top: 5px;
    }
 .d-none {
    padding-left: 10px;

}
 
    *, *::before, *::after {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
    }
    .right {
        padding-right: 10px;
    }
    .grd{
        padding-left: 5px;
    }