 body {

     position: relative;
    
     background: #FFFFFF;
 }

 /* Top bar 1/2 csss */
 
 .secound_topbar {
  
    height: 58px;
    left: 13.54%;
    right: 50.41%;
}
 
 .this_is {
     padding-left: 485px;
 }
 .item1 .item2{
    color: white;
 }
 .item1{
    color: white;
 }
 /* cards control */
.cards{
    margin-top: 187px;
    margin-left: 273px;
    
}
.one{
    background-color: antiquewhite;
    color: black;
}
.tow{
    background-color: #27AE60;
    color: white;
}
.three{
    background-color: #EC8E11;
    color: white;
}
.Third_section{
   
    position: absolute;
    height: 500px;
    width: 1000px;
    
    margin-left: -98px;
     

}
.image_control{
   
    height: 500px;
    width: 500px;
    float: left;
}
.contant_control{
    height: 500px;
    width: 500px;
    float: right;
}